/* Custom Alert Styling */
.custom-alert {
    background-color: #f3e39d; /* Light yellow background */
    border-color: #ffeeba;     /* Border color*/
    color: #856404;            /* Text color for contrast */
    border-radius:2px;   /* Border radius for softer corners */
    padding: 15px;
    font-family: 'Arial', sans-serif;
    text-align:center;
	padding: 10px 10px 10px;
}